doctype html
html(lang="en")
 head
   meta(charset="UTF-8")
   meta(name="author" content="Luiz Carneiro")
   meta(name="viewport" content="width=device-width")
   meta(name="description" content="The Curriculum Vitae of Luiz Carneiro")
   link(type="text/css" rel="stylesheet" href="css/styles.min.css")
   title Luiz Carneiro - Curriculum Vitae
 body#top
     #cv
         .mainDetails
           #headshot.quickFade 
                 picture 
                   source(media='(max-width: 600px)' srcset='images/opt_medium.jpg')
                   source(media='(min-width: 601px)' srcset='images/opt_medium.jpg')
                   img(src='images/opt_mediumjpg' alt='Luiz Carneiro')
             #name
                 h1.quickFade.delayTwo Luiz Carneiro, PhD
                 h2.quickFade.delayThree Software Developer
                 p.quickFade.delayThree.subDetails Brazilian & German - 35 y.o.
             #contactDetails.quickFade.delayFour
                 ul
                     li e-mail: <a href="mailto:luiz@carneiro.dev" target="_blank"> luiz@carneiro.dev </a>
                     li github: <a href="https://github.com/carneiroDotDev" target="_blank"> @carneiroDotDev </a>
                     li x: <a href="https://www.x.com/carneiroDotDev" target="_blank"> @carneiroDotDev </a>
                     li mobile: <a href="tel:004917672969754" target="_blank"> +4917672969754 </a> 

         #mainArea.quickFade.delayFive
             section#selfDescription
                h3 PhD in Physics and Software Developer with large experience in Typescript and Python
                .clear

             section
                 .sectionTitle
                     img(src='images/statistics.png' alt='Work Experience Icon' class='icon')
                     .centerSectionTitle
                         p Experience ~ 6 years
                 .sectionContent
                     article
                         p.positionTitle Senior full-stack Developer - Mer GmbH 
                         p.subDetails Mar 2023 - Dec 2024 | German & English | Remote work - Tech: TS | React | Vite | Docker | Azure
                          ul.jobDescription
                             li Frontend development and deployment of the company's main client-facing dashboard. Usability (UX), reliability (test-driven development), and scalability were concerns for a system utilized by thousands of clients every day.
                             li Solely responsible for managing the front end of an internal dashboard, where I developed new features and performed maintenance to support internal teams.
                        //-  p.justify My daily work involved managing (from development to deployment) the frontend of two complex dashboards. Both applications focussed on electric vehicle charging infrastructure. In one of the projects I was part of a team of eight developers, while in the second one, I was the only frontend developer.
                     article
                         p.positionTitle Senior full-stack Developer - Jomigo GmbH 
                         p.subDetails Nov 2022 - Jan 2023 | English | Remote work - Tech: TS | React | NextJs | NodeJs | MySql
                         p.justify As the first engineer to join the company, I initiated the codebase and organized management to develop a CRM dashboard. The MVP version of the app was completed, but due to financial issues, the project was halted.

                     article
                         p.positionTitle Full-stack Developer - Traffective GmbH
                         p.subDetails Nov 2020 - Oct 2022 | German | Remote work - Tech: Python | Databricks | AWS | TS | NodeJs | Selenium | MongoDB | MySql
                         ul.jobDescription
                             li Built a data driven reporting system using Pyspark and Databricks, which saved sixteen hours of weekly work from the accounting department
                             li Wrote a boilerplate package to stardadize any new service. Migated services from Javascript to Typescript
                        //-  p.justify I built an automated daily reporting system using Pyspark and Databricks, which saved sixteen hours of work weekly from other colleagues. Additionally, I implemented the first services written in Typescript and improved general code quality of projects. 
                     article
                         p.positionTitle Software Developer - Sport1 GmbH
                         p.subDetails June 2018 - Oct 2020 | German | In-office work - Tech: TS | React Native | NodeJs | Express | Docker | MySql
                         ul.jobDescription
                             li Large use of ReactJS in Typescript with NextJs, GatsbyJs, React Native
                             li.mb6 Built a component libary to be used both in web ad in mobile projects 
                        //-  p.justify Wrote typescript daily. Large use of ReactJS (also NextJS, GatsbyJS, React Native) together with different tools as Typescript, Jest, and Styled System. 

             section
                 .sectionTitle
                     img(src='images/computer.png' alt='Tech Skills Icon' class='icon')
                     .centerSectionTitle
                        p Tech Stack*
                 .sectionContent
                     ul.keySkills
                         li TypeScript <br> React <br> NodeJS <br> Jest <br> Python <br> Pandas <br> Pyspark <br> Docker <br> Azure <br> AWS 
                     p.note.justify *Besides these, I wrote Bash, IDL, Fortran, and Latex for long years. I am curious about low level with C/C++.

             section
                 .sectionTitle
                    img(src='images/science.png' alt='Education Icon' class='icon')
                    .centerSectionTitle
                        p Education 
                 .sectionContent
                     article
                         p.positionTitle Microsoft Certified: Azure Fundamentals (AZ-900) -
                            span.subDetails Cloud Certification (September 2024)
                     article
                         p.positionTitle Udacity - AWS Cloud DevOps Engineer - 
                            span.subDetails Specialization course (March 2021 - December 2021)
                         p.justify Cloud storage, Blue-green or Rolling deployment, CI/CD pipelines are examples of topics covered.
                     article
                         p.positionTitle Google Developer Nanodegree - 
                            span.subDetails Specialization course (November 2017 - September 2018)
                         p.justify Topics as accessibility, service workers, Progressive apps (PWAs) and browser storage were long discussed.  

                     article
                         p.positionTitle Physics PhD - Ludwig-Maximilians-Universität München - 
                            span.subDetails University (January 2014 - May 2018) 
                         p.justify Approximately 15.000 lines of code written. Published three scientific articles in high impact factor journals.

             section
                 .sectionTitle
                     img(src='images/translation.png' alt='Languages Icon' class='icon')
                     .centerSectionTitle
                       p Languages  
                 .sectionContent
                     ul.idioms
                         li: span.idiom Portuguese
                         span native
                         li: span.idiom English
                         span near native 
                         li: span.idiom German 
                         span Proficient 
                         li: span.idiom Spanish 
                         span Proficient 
                         
             section
                .footer
                    p.justify ► This CV is a responsive page using only HTML+CSS. Its latest version can be found pinned on my Github profile.
    //-  script(type='text/javascript'). 
    //-      if((window.innerWidth < 800 && window.innerWidth > 601) || 
    //-         (window.innerWidth < 481)){
    //-            var listItem = document.createElement('li');
    //-            var listText = document.createTextNode('Jest');
    //-            listItem.appendChild(listText) 
    //-            var storeSkills = document.getElementsByClassName('keySkills');
    //-            storeSkills[0].appendChild(listItem);
    //-      } 

